* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 1rem;
  // background-color: red;
  border: 0.1rem solid;
}

.skilline {
  margin-bottom: 1rem;
  span {
    font-size: 2rem;
    font-weight: 550;
  }
  nav {
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    a {
      text-decoration: none;
      color: black;
    }
  }
  .white {
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    color: black;
    background-color: grey;
    margin-right: 1rem;
  }
  .brown {
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    color: white;
    background-color: burlywood;
  }
}
.webpage1 {
  .webpage1-content {
    .studying {
      margin-bottom: 1rem;
      h1 {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
      }
      p {
        font-size: 1rem;
        margin-bottom: 0.6rem;
      }
      .button1 {
        display: flex;
        gap: 0.3rem;
        .join {
          padding: 0.3rem 0.6rem;
          border-radius: 1rem;
          color: black;
          background-color: burlywood;
          margin-right: 1rem;
        }
        button {
          padding: 0.3rem 0.6rem;
          border-radius: 50%;
          background-color: gray;
        }
        span {
          font-size: 0.9rem;
        }
      }
    }
    .image-list1 {
      margin-bottom: 1rem;
    }
    .trusted {
      font-size: 0.9rem;
    }
    .image-list12 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }
}
.webpage2 {
  margin-bottom: 1.5rem;
  h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .card {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 0.9rem;
    }
    p {
      font-size: 0.6rem;
    }
  }
}

.webpage3 {
  margin-bottom: 1.5rem;
  h2 {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.6rem;
    margin-bottom: 1rem;
  }
  .webpage3-card {
    snap {
      font-size: 0.7rem;
      margin-bottom: 1rem;
    }
    button {
      padding: 0.4rem 0.9rem;
      border-radius: 0.6rem;
      background-color: palegoldenrod;
    }
  }
}

.webpage4 {
  margin-bottom: 1.5rem;
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
  span {
    font-size: 0.5rem;
    text-decoration: underline;
  }
  img {
    margin-bottom: 1rem;
  }
}

.webpage5 {
  margin-bottom: 1.5rem;
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  button {
    padding: 0.4rem 0.9rem;
    border-radius: 0.6rem;
    background-color: palegoldenrod;
  }
  .card5 {
    margin-bottom: 1rem;
  }
}

.webpage6 {
  margin-bottom: 1.5rem;
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  img {
    margin-bottom: 1rem;
  }
}

.webpage7 {
  margin-bottom: 1.5rem;
  button {
    padding: 0.4rem 0.9rem;
    border-radius: 0.6rem;
    background-color: palegoldenrod;
  }
  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  img {
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}
.webpage8 {
  margin-bottom: 1.5rem;
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  img {
    margin-bottom: 1rem;
  }
}
.webpage9 {
  margin-bottom: 1.5rem;
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  button {
    padding: 0.4rem 0.9rem;
    border-radius: 0.6rem;
    background-color: palegoldenrod;
    margin-bottom: 1rem;
  }
}
.webpage10 {
  margin-bottom: 1.5rem;
  .imagelist-10 {
    display: flex;
    flex-direction: column;
  }
  img {
    margin-bottom: 1rem;
  }
  span {
    font-size: 0.6rem;
  }
  h2 {
    font-size: 0.8rem;
  }
  p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  button {
    padding: 0.4rem 0.9rem;
    border-radius: 0.6rem;
    background-color: palegoldenrod;
  }
}
.webpage11 {
  margin-bottom: 1.5rem;
  span {
    font-size: 0.6rem;
  }
  h2 {
    font-size: 0.8rem;
  }
  p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  button {
    padding: 0.4rem 0.9rem;
    border-radius: 0.6rem;
    background-color: palegoldenrod;
    margin-bottom: 1rem;
  }
  span {
    font-size: 0.6rem;
  }
}
.webpage12 {
  margin-bottom: 1.5rem;
  .content12 {
    display: flex;
    flex-direction: column;
  }
  span {
    font-size: 0.6rem;
    text-decoration: underline;
  }
  h2 {
    font-size: 0.8rem;
  }
  p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  button {
    padding: 0.4rem 0.9rem;
    border-radius: 0.6rem;
    background-color: palegoldenrod;
    margin-bottom: 1rem;
  }
  span {
    font-size: 0.6rem;
  }
}

footer {
  p {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  button {
    padding: 0.4rem 0.9rem;
    border-radius: 0.6rem;
    background-color: palegoldenrod;
    margin-bottom: 1rem;
  }
  span {
    font-size: 0.6rem;
  }
}
